<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/vue.js"></script>
    <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="container" id="app">
    <div class="header">
      我的todo
    </div>
    <div class="body">

    </div>
  </div>
  <script>
    var app = new Vue({
      el:'#app',
      data:{
        username:'',
        password:'',
        message:'123'
      },
      methods:{
        login: function(){
          $.ajax({
            async:true,
            contentType:'application/x-www-form-urlencoded',
            url:'/login',
            type:'POST',
            data:{
              username:$('#name').val(),
              password:$('#password').val()
            },
            success:function(e){alert('123')}
          })
        }
      }
    })
  </script>
  <div id="app1">
    <h1>条件与循环</h1>
    <p v-if="seen">{{message}}</p>
    <ul>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ul>
  </div>
  <script>
    var app1 = new Vue({
      el:'#app1',
      data:{
        seen:false,
        message:'你猜',
        todos:[
          {text:'英雄达拉崩吧'},
          {text:'骑上最快的马'},
          {text:'嘿嘿嘿'}
        ]
      }
    })
  </script>
  <div class="app3">
    <h1>组件化建设</h1>
    <todo-items v-for="item in todos" v-bind:todo="item" v-bind:id="item.id"></todo-items>
  </div>
  <script>
    Vue.component('todo-items',{
      //现在todo-items 可以加收一个props,类似于自定义属性，这个属性名为todo
      props:['todo'],
      template:'<li>{{todo.text}}</li>'
    });
    var app3 = new Vue({
      el:'.app3',
      data:{
        todos:[
          {text:'英雄达拉崩吧',id:'1'},
          {text:'骑上最快的马',id:'2'},
          {text:'嘿嘿嘿',id:'3'}
        ]
      }
    })
  </script>
  </body>
</html>
